<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <p>Counter</p>
        <p><%= number %> times</p>
          <form action="/add" method="post">
            <input type="submit" value="add">
        </form>
          <form action="/" method="get">
            <input type="submit" value="reset">
        </form>
    </body>
</html>